#jinja2:trim_blocks: False
## {{ ansible_managed }}
{% if item.defaults is defined %}
## Defaults specification
{% for default in item.defaults -%}
{#- Global defaults specification -#}
{%- if default.host is undefined and default.user is undefined and default.command is undefined and default.operator is undefined -%}
    Defaults {{ default.name|string }}
    {%- if default.value is defined and default.value -%}
        {{ ' ' }}{% if default.include is defined and default.include|bool %}+{% elif default.exclude is defined and default.exclude|bool %}-{% endif %}={{ ' ' }}
        {%- if default.value is not iterable or default.value is string -%}
            {{ default.value|string }}
        {%- else -%}
            "{{  default.value|join(' ') }}"
        {%- endif -%}
    {%- endif %}
{% endif -%}

{#- Host conditioned defaults specification -#}
{%- if default.host is defined and default.host -%}
    Defaults@
    {%- if default.host is not iterable or default.host is string -%}
        {{ default.host|string }}
    {%- else -%}
        {{ default.host|join(',') }}
    {%- endif -%}
    {{ ' ' }}{{ default.name|string }}
    {%- if default.value is defined and default.value -%}
        {{ ' ' }}{% if default.include is defined and default.include|bool %}+{% elif default.exclude is defined and default.exclude|bool %}-{% endif %}={{ ' ' }}
        {%- if default.value is not iterable or default.value is string -%}
            {{ default.value|string }}
        {%- else -%}
            "{{  default.value|join(' ') }}"
        {%- endif -%}
    {%- endif %}
{% endif -%}

{#- User conditioned defaults specification -#}
{%- if default.user is defined and default.user -%}
    Defaults:
    {%- if default.user is not iterable or default.user is string -%}
        {{ default.user|string }}
    {%- else -%}
        {{ default.user|join(',') }}
    {%- endif -%}
    {{ ' ' }}{{ default.name|string }}
    {%- if default.value is defined and default.value -%}
        {{ ' ' }}{% if default.include is defined and default.include|bool %}+{% elif default.exclude is defined and default.exclude|bool %}-{% endif %}={{ ' ' }}
        {%- if default.value is not iterable or default.value is string -%}
            {{ default.value|string }}
        {%- else -%}
            "{{  default.value|join(' ') }}"
        {%- endif -%}
    {%- endif %}
{% endif -%}

{#- Command conditioned defaults specification -#}
{%- if default.command is defined and default.command -%}
    Defaults!
    {%- if default.command is not iterable or default.command is string -%}
        {{ default.command|string }}
    {%- else -%}
        {{ default.command|join(',') }}
    {%- endif -%}
    {{ ' ' }}{{ default.name|string }}
    {%- if default.value is defined and default.value -%}
        {{ ' ' }}{% if default.include is defined and default.include|bool %}+{% elif default.exclude is defined and default.exclude|bool %}-{% endif %}={{ ' ' }}
        {%- if default.value is not iterable or default.value is string -%}
            {{ default.value|string }}
        {%- else -%}
            "{{  default.value|join(' ') }}"
        {%- endif -%}
    {%- endif %}
{% endif -%}

{#- Operator conditioned defaults specification -#}
{%- if default.operator is defined and default.operator -%}
    Defaults>
    {%- if default.operator is not iterable or default.operator is string -%}
        {{ default.operator|string }}
    {%- else -%}
        {{ default.operator|join(',') }}
    {%- endif -%}
    {{ ' ' }}{{ default.name|string }}
    {%- if default.value is defined and default.value -%}
        {{ ' ' }}{% if default.include is defined and default.include|bool %}+{% elif default.exclude is defined and default.exclude|bool %}-{% endif %}={{ ' ' }}
        {%- if default.value is not iterable or default.value is string -%}
            {{ default.value|string }}
        {%- else -%}
            "{{  default.value|join(' ') }}"
        {%- endif -%}
    {%- endif %}
{% endif -%}
{%- endfor -%}
{%- endif %}

{%- if item.specs is defined %}
## User specification
{% for spec in item.specs -%}
    {%- if spec.user is not iterable or spec.user is string -%}
        {{ spec.user|string }}
    {%- else -%}
        {{ spec.user|join(',') }}
    {%- endif -%}
    {{ ' ' }}
    {%- if spec.host is not iterable or spec.host is string -%}
        {{ spec.host|string }}
    {%- else -%}
        {{ spec.host|join(',') }}
    {%- endif -%}
    =
    {%- if spec.operator is defined and spec.operator -%}
        (
        {%- if spec.operator is not iterable or spec.operator is string -%}
            {{ spec.operator|string }}
        {%- else -%}
            {{ spec.operator|join(',') }}
        {%- endif -%}
        ){{ ' ' }}
    {%- endif -%}
    {%- if spec.tag is defined and spec.tag -%}
        {%- if spec.tag is not iterable or spec.tag is string -%}
            {{ spec.tag|string }}
        {%- else -%}
            {{ spec.tag|join(':') }}
        {%- endif -%}
        :{{ ' ' }}
    {%- endif -%}
    {%- if spec.command is not iterable or spec.command is string -%}
        {{ spec.command|string }}
    {%- else -%}
        {{ spec.command|join(',') }}
    {%- endif %}
{% endfor -%}
{%- endif %}
